**/node_modules/
**/dist
.git
npm-debug.log
.coverage
.coverage.*
.aws
package-lock.json
.env.example
.env.example.docker
/.phpunit.cache
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/reports